<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="2.5.2" />
  <package id="Castle.Windsor" version="2.5.4" />
  <package id="CommonDomain" version="1.2.2" />
  <package id="EventStore" version="3.0.11293.43" />
  <package id="EventStore.Serialization.Json" version="3.0.11293.43" />
  <package id="log4net" version="1.2.10" />
  <package id="Magnum" version="2.0.0.2" />
  <package id="MassTransit" version="2.0.1.0" />
  <package id="Moq" version="4.0.10827" />
  <package id="Newtonsoft.Json" version="4.0.3" />
  <package id="Raven.Client.Lightweight" version="1.0.3" />
  <package id="Raven.Json" version="1.0.0" />
  <package id="Raven.MissingBitsFromClientProfile" version="1.0.1" />
  <package id="SharpTestsEx" version="1.1.1" />
</packages>